.outer {
  width: 100%;
  background-color: #f8f6f6;
}

.loginPage {
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  h3 {
    margin-bottom: 6rem;
  }

  .loginCont {
    border: 2px solid #d3d0d0;
    padding: 6rem 4rem;
  }
}
